.header{
  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  height: 400px;
  width: 30%;
  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/px-tile.png");
}
@media only screen and (max-width: 600px) {
  .header{
    width: 100%;
    }
  }